<h1>This is my Blog</h1>

<button> Publish / Unpublish </button>
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post %>
    <br> 
    <span> Body :  </span>
    <%= link_to post.body, post %>
    <br> <br>
  </li>
  <% end %>
</ul>
<p>Find me in app/views/posts/index.html.erb</p>
